/* basic scrollbar styling */
/* vertical scrollbar */
/* line 3, ../sass/scroll.scss */
.mCSB_container {
  width: auto;
  margin-right: 26px;
  overflow: hidden;
}

/* line 8, ../sass/scroll.scss */
.mCSB_container.mCS_no_scrollbar {
  margin-right: 0;
}

/* line 12, ../sass/scroll.scss */
.mCS_disabled > .mCustomScrollBox > .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed > .mCustomScrollBox > .mCSB_container.mCS_no_scrollbar {
  margin-right: 26px;
}

/* line 15, ../sass/scroll.scss */
.mCustomScrollBox > .mCSB_scrollTools {
  width: 16px;
  height: 100%;
  top: 0;
  right: 0;
  background: #fff;
  border: 1px solid #f7f7f7;
  width: 26px;
  padding: 5px 0;
}

/* line 25, ../sass/scroll.scss */
.mCSB_scrollTools .mCSB_draggerContainer {
  position: absolute;
  top: 0;
  left: 4px;
  bottom: 0;
  right: 0;
  height: auto;
  background: #d7d7d7;
  border-radius: 30px;
  width: 16px;
}

/* line 36, ../sass/scroll.scss */
.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0;
}

/* line 39, ../sass/scroll.scss */
.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 47, ../sass/scroll.scss */
.mCSB_scrollTools .mCSB_dragger {
  cursor: pointer;
  width: 100%;
  height: 30px;
}

/* line 52, ../sass/scroll.scss */
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 14px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}

/* line 62, ../sass/scroll.scss */
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: relative;
  height: 20px;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}

/* line 70, ../sass/scroll.scss */
.mCSB_scrollTools .mCSB_buttonDown {
  top: 100%;
  margin-top: -40px;
}

/* horizontal scrollbar */
/* line 75, ../sass/scroll.scss */
.mCSB_horizontal > .mCSB_container {
  height: auto;
  margin-right: 0;
  margin-bottom: 30px;
  overflow: hidden;
}

/* line 81, ../sass/scroll.scss */
.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar {
  margin-bottom: 0;
}

/* line 85, ../sass/scroll.scss */
.mCS_disabled > .mCSB_horizontal > .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed > .mCSB_horizontal > .mCSB_container.mCS_no_scrollbar {
  margin-right: 0;
  margin-bottom: 30px;
}

/* line 89, ../sass/scroll.scss */
.mCSB_horizontal.mCustomScrollBox > .mCSB_scrollTools {
  width: 100%;
  height: 16px;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

/* line 98, ../sass/scroll.scss */
.mCSB_horizontal > .mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 0 20px;
}

/* line 101, ../sass/scroll.scss */
.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  height: 2px;
  margin: 7px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 109, ../sass/scroll.scss */
.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger {
  width: 30px;
  height: 100%;
}

/* line 113, ../sass/scroll.scss */
.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 4px;
  margin: 6px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 122, ../sass/scroll.scss */
.mCSB_horizontal > .mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal > .mCSB_scrollTools .mCSB_buttonRight {
  display: block;
  position: relative;
  width: 20px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
  float: left;
}

/* line 132, ../sass/scroll.scss */
.mCSB_horizontal > .mCSB_scrollTools .mCSB_buttonRight {
  margin-left: -40px;
  float: right;
}

/* line 136, ../sass/scroll.scss */
.mCustomScrollBox {
  -ms-touch-action: none;
  /*MSPointer events - direct all pointer events to js*/
}

/* default scrollbar colors and backgrounds (default theme) */
/* line 144, ../sass/scroll.scss */
.mCustomScrollBox:hover > .mCSB_scrollTools {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
  /* old ie */
}

/* line 148, ../sass/scroll.scss */
.mCSB_scrollTools .mCSB_draggerRail {
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.4);
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
  /* old ie */
  display: none;
}

/* line 154, ../sass/scroll.scss */
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #fff;
  /* rgba fallback */
  background: white;
}

/* line 158, ../sass/scroll.scss */
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: white;
}

/* line 162, ../sass/scroll.scss */
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: white;
}

/* line 168, ../sass/scroll.scss */
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  background-image: url(mCSB_buttons.png);
  background-repeat: no-repeat;
  opacity: 0.4;
}

/* line 173, ../sass/scroll.scss */
.mCSB_scrollTools .mCSB_buttonUp {
  background-position: 0 0;
  /* 
  sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) 
  */
}

/* line 179, ../sass/scroll.scss */
.mCSB_scrollTools .mCSB_buttonDown {
  background-position: 0 -20px;
  /* 
  sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) 
  */
}

/* line 185, ../sass/scroll.scss */
.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: 0 -40px;
  /* 
  sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
  */
}

/* line 191, ../sass/scroll.scss */
.mCSB_scrollTools .mCSB_buttonRight {
  background-position: 0 -56px;
  /* 
  sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
  */
}

/* line 200, ../sass/scroll.scss */
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover {
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
  /* old ie */
}

/* line 207, ../sass/scroll.scss */
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active {
  opacity: 0.9;
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)";
  /* old ie */
}

/*scrollbar themes*/
/*dark (dark colored scrollbar)*/
/* line 214, ../sass/scroll.scss */
.mCS-dark > .mCSB_scrollTools .mCSB_draggerRail {
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.15);
}

/* line 218, ../sass/scroll.scss */
.mCS-dark > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.75);
}

/* line 222, ../sass/scroll.scss */
.mCS-dark > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.85);
}

/* line 226, ../sass/scroll.scss */
.mCS-dark > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.9);
}

/* line 229, ../sass/scroll.scss */
.mCS-dark > .mCSB_scrollTools .mCSB_buttonUp {
  background-position: -80px 0;
}

/* line 232, ../sass/scroll.scss */
.mCS-dark > .mCSB_scrollTools .mCSB_buttonDown {
  background-position: -80px -20px;
}

/* line 235, ../sass/scroll.scss */
.mCS-dark > .mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -80px -40px;
}

/* line 238, ../sass/scroll.scss */
.mCS-dark > .mCSB_scrollTools .mCSB_buttonRight {
  background-position: -80px -56px;
}

/*light-2*/
/* line 242, ../sass/scroll.scss */
.mCS-light-2 > .mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background: #fff;
  /* rgba fallback */
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

/* line 250, ../sass/scroll.scss */
.mCS-light-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 4px;
  background: #fff;
  /* rgba fallback */
  background: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

/* line 258, ../sass/scroll.scss */
.mCS-light-2.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  height: 4px;
  margin: 6px 0;
}

/* line 263, ../sass/scroll.scss */
.mCS-light-2.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 4px;
  margin: 6px auto;
}

/* line 268, ../sass/scroll.scss */
.mCS-light-2 > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.85);
}

/* line 272, ../sass/scroll.scss */
.mCS-light-2 > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-2 > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.9);
}

/* line 275, ../sass/scroll.scss */
.mCS-light-2 > .mCSB_scrollTools .mCSB_buttonUp {
  background-position: -32px 0;
}

/* line 278, ../sass/scroll.scss */
.mCS-light-2 > .mCSB_scrollTools .mCSB_buttonDown {
  background-position: -32px -20px;
}

/* line 281, ../sass/scroll.scss */
.mCS-light-2 > .mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -40px -40px;
}

/* line 284, ../sass/scroll.scss */
.mCS-light-2 > .mCSB_scrollTools .mCSB_buttonRight {
  background-position: -40px -56px;
}

/*dark-2*/
/* line 288, ../sass/scroll.scss */
.mCS-dark-2 > .mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

/* line 296, ../sass/scroll.scss */
.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 4px;
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

/* line 304, ../sass/scroll.scss */
.mCS-dark-2.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  height: 4px;
  margin: 6px 0;
}

/* line 309, ../sass/scroll.scss */
.mCS-dark-2.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 4px;
  margin: 6px auto;
}

/* line 314, ../sass/scroll.scss */
.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.85);
}

/* line 318, ../sass/scroll.scss */
.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.9);
}

/* line 321, ../sass/scroll.scss */
.mCS-dark-2 > .mCSB_scrollTools .mCSB_buttonUp {
  background-position: -112px 0;
}

/* line 324, ../sass/scroll.scss */
.mCS-dark-2 > .mCSB_scrollTools .mCSB_buttonDown {
  background-position: -112px -20px;
}

/* line 327, ../sass/scroll.scss */
.mCS-dark-2 > .mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -120px -40px;
}

/* line 330, ../sass/scroll.scss */
.mCS-dark-2 > .mCSB_scrollTools .mCSB_buttonRight {
  background-position: -120px -56px;
}

/*light-thick*/
/* line 334, ../sass/scroll.scss */
.mCS-light-thick > .mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background: #fff;
  /* rgba fallback */
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 342, ../sass/scroll.scss */
.mCS-light-thick > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  background: #fff;
  /* rgba fallback */
  background: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 350, ../sass/scroll.scss */
.mCS-light-thick.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  height: 4px;
  margin: 6px 0;
}

/* line 355, ../sass/scroll.scss */
.mCS-light-thick.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 6px;
  margin: 5px auto;
}

/* line 360, ../sass/scroll.scss */
.mCS-light-thick > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.85);
}

/* line 364, ../sass/scroll.scss */
.mCS-light-thick > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-thick > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.9);
}

/* line 367, ../sass/scroll.scss */
.mCS-light-thick > .mCSB_scrollTools .mCSB_buttonUp {
  background-position: -16px 0;
}

/* line 370, ../sass/scroll.scss */
.mCS-light-thick > .mCSB_scrollTools .mCSB_buttonDown {
  background-position: -16px -20px;
}

/* line 373, ../sass/scroll.scss */
.mCS-light-thick > .mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -20px -40px;
}

/* line 376, ../sass/scroll.scss */
.mCS-light-thick > .mCSB_scrollTools .mCSB_buttonRight {
  background-position: -20px -56px;
}

/*dark-thick*/
/* line 380, ../sass/scroll.scss */
.mCS-dark-thick > .mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 388, ../sass/scroll.scss */
.mCS-dark-thick > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 396, ../sass/scroll.scss */
.mCS-dark-thick.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  height: 4px;
  margin: 6px 0;
}

/* line 401, ../sass/scroll.scss */
.mCS-dark-thick.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 6px;
  margin: 5px auto;
}

/* line 406, ../sass/scroll.scss */
.mCS-dark-thick > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.85);
}

/* line 410, ../sass/scroll.scss */
.mCS-dark-thick > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thick > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.9);
}

/* line 413, ../sass/scroll.scss */
.mCS-dark-thick > .mCSB_scrollTools .mCSB_buttonUp {
  background-position: -96px 0;
}

/* line 416, ../sass/scroll.scss */
.mCS-dark-thick > .mCSB_scrollTools .mCSB_buttonDown {
  background-position: -96px -20px;
}

/* line 419, ../sass/scroll.scss */
.mCS-dark-thick > .mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -100px -40px;
}

/* line 422, ../sass/scroll.scss */
.mCS-dark-thick > .mCSB_scrollTools .mCSB_buttonRight {
  background-position: -100px -56px;
}

/*light-thin*/
/* line 426, ../sass/scroll.scss */
.mCS-light-thin > .mCSB_scrollTools .mCSB_draggerRail {
  background: #fff;
  /* rgba fallback */
  background: rgba(255, 255, 255, 0.1);
}

/* line 430, ../sass/scroll.scss */
.mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 2px;
}

/* line 433, ../sass/scroll.scss */
.mCS-light-thin.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
}

/* line 436, ../sass/scroll.scss */
.mCS-light-thin.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 2px;
  margin: 7px auto;
}

/*dark-thin*/
/* line 442, ../sass/scroll.scss */
.mCS-dark-thin > .mCSB_scrollTools .mCSB_draggerRail {
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.15);
}

/* line 446, ../sass/scroll.scss */
.mCS-dark-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 2px;
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.75);
}

/* line 451, ../sass/scroll.scss */
.mCS-dark-thin.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
}

/* line 454, ../sass/scroll.scss */
.mCS-dark-thin.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 2px;
  margin: 7px auto;
}

/* line 459, ../sass/scroll.scss */
.mCS-dark-thin > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.85);
}

/* line 463, ../sass/scroll.scss */
.mCS-dark-thin > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thin > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.9);
}

/* line 466, ../sass/scroll.scss */
.mCS-dark-thin > .mCSB_scrollTools .mCSB_buttonUp {
  background-position: -80px 0;
}

/* line 469, ../sass/scroll.scss */
.mCS-dark-thin > .mCSB_scrollTools .mCSB_buttonDown {
  background-position: -80px -20px;
}

/* line 472, ../sass/scroll.scss */
.mCS-dark-thin > .mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -80px -40px;
}

/* line 475, ../sass/scroll.scss */
.mCS-dark-thin > .mCSB_scrollTools .mCSB_buttonRight {
  background-position: -80px -56px;
}
