.btn {
	border-radius: 3px;
	padding: 5px 20px;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	text-decoration: none;
	border:none;
	&.orange {
		background: #ec8435;
		color: #fff;
		border: 1px solid #d3630d;
		font-size: 16px;
		vertical-align: middle;
		height:35px;
		&:hover, &:focus {
			background: #ff9c50;
			border-color:#f0893a;
		}
	}
	&.gray {
		color: #fff;
		background: #a4a9ae;
		font-size: 14px;
		box-shadow:0 0 3px #83898f;
		&:hover, &:focus {
			box-shadow:none;
		}
	}
	&.gray-light {
		color: #1d2123;
		background: #f2f1f1;
		font-size: 14px;
		&:hover, &:focus {
			box-shadow:none;
		}
	}
	&.blue {
		background: #4fc1e9;
		color:#fff;
		font-size: 14px;
		box-shadow:0 0 3px #3bafda;
		&:hover {
			box-shadow:none;
		}
	}
	&.blue-light {
		background: #5faee3;
		color:#fff;
		font-size: 14px;
		&:hover {
			box-shadow:none;
		}
	}
	&.dark {
		background: #a4a9ae;
		color:#fff;
		font-size: 14px;
	}
	&.small {
		font-size: 12px;
	}
}

.enter-box {
	> .btn.gray {
		box-shadow:0 3px 0 #83898f;
		outline: none;
		&:hover {
			box-shadow: 0px 3px 2px #83898f;
			}
		&:active {
			box-shadow: none;
			padding:7px 20px 6px;
			background: #83898f;
		}
	}
	> .btn.blue-light {
		outline: none;
		box-shadow:0 3px 0 #3bafda;
		&:hover {
			box-shadow: 0px 3px 2px #3bafda;
			}
		&:active {
			background: #3bafda;
			box-shadow: none;
			padding:7px 20px 6px;
		}
	}
}