.footer {
	.footer-top {
		background: #fff;
		padding:20px 0;
		.last-news {
			float:left;
			width:620px;
			h3 {
				font-size: 30px;
				font-weight: normal;
				color:#000;
				font-family: 'Open Sans Condensed', 'sans-serif';
				display:inline-block;
				margin-right:20px;
				position: relative;
				margin-bottom:0;
				top:-2px;
			}
			.news-box {
				float:left;
				width:300px;
				margin-right: 10px;
				padding-right:10px;
				line-height: 18px;
				color:#969696;
				.news-box-title {
					display: block;
					margin: 0 0 10px;
					color:#0267b5;
					text-decoration: underline;
					&:hover{
						text-decoration: none;
					}
				}
				.date {
					color:#000;
				}
			}
		}
		.share-us {
			float:right;
			width:320px;
			border-left: 1px solid #e3e4e8;
			padding-left: 20px;
			.heading {
				color:#000;
				font-family: 'Open Sans Condensed', 'sans-serif';
				font-size: 24px;
				margin-bottom:30px;
				text-align: center;
			}
			.sharing-icons {
				margin-bottom: 25px;
				li {
					float:left;
					margin-left:12px;
					&:first-child {
						margin-left: 0;
					}
				}
			}
			.contacts-info {
				color:#969696;
				text-align: right;
				margin-bottom: 5px;
			}
			.tel {
				font-size: 16px;
				color:#000;
				float: right;
				position: relative;
				top:3px;
			}
		}
	}
	.footer-block {
		background: #5d5d5d;
		height:50px;
		padding:10px 0;
		.copyright, .price {
			float:left;
		}
		nav {
			float:right;
		}
		.copyright {
			color:#fff;
			font-size:12px;
			height:30px;
			line-height: 30px;
			margin-right: 40px;
		}
		nav {
			text-transform: uppercase;
			@extend .cf;
			a {
				display: block;
				float:left;
				line-height: 30px;
				color:#fff;
				text-decoration: underline;
				margin-left: 22px;
				position: relative;
				font-size: 14px;
				&:first-child {
					margin-left: 0;
					&:before {
						display: none;
					}
				}
				&:before {
					content:"";
					width:2px;
					height:14px;
					background: url(../img/footer-separator.png);
					top:2px;
					left:-11px;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}