.grid {
	.item {
		margin-bottom:15px;
		border-bottom:3px solid #e3e4e8;
		background: #fff;

		&.indent-left {
			margin-left: 60px;
		}
		.user-section {
			padding:13px 20px;
			position: relative;
			.small-avatar {
				float:left;
				width:40px;
				img {
					display:block;
					border-radius: 100px;
					max-width: 100%;
					width:100%;
					border:2px solid #81868d;
				}
			}
			&.like-section {
				.user-info {
					margin-right: 120px;
				}
				.likes-container {
					float:right;
				}
			}
			.user-info {
				margin-left:50px;
				.name {
					color:#2c3e50;
					font-size: 16px;
					margin-bottom:5px;
					line-height: 16px;

				}
				.description {
					color:#969696;
					font-size: 12px;
					&:after {
						content:"";
						clear:both;
						display: table;
					}
					.description-block {
						float:left;
						margin-left:20px;
						&:first-child {
							margin-left: 0;
						}
						.icon {
							position: relative;
							top:3px;
							margin-right: 5px;
						}
					}
				}
			}
			&:after {
				content:"";
				clear:both;
				display: table;
			}
		}
		.content-section {
			background: #fff;
			padding:20px 0 15px;
			margin:0 20px;
			border-top:1px solid #e3e4e8;
			p{
				margin-bottom:5px;
			}
			p + p {
				margin-top:10px;
			}
			.title {
				font-size: 18px;
				color:#2c3e50;
				margin-bottom:10px;
				font-weight: 600;
			}
			.document-link {
				.icon {
					margin-right:8px;
					position: relative;
					top:4px;
				}
				font-size: 12px;
				color:#13b0cb;
				text-decoration: none;
				.brd-dashed {
					border-bottom:1px dashed;
				}
				&:hover {
					text-decoration: none;
					.brd-dashed {
						border-bottom:none;
					}
				}
			}
		}
		.item-footer {
			margin:0 20px;
			border-top:1px solid #e3e4e8;
			padding:15px 0 10px;
			.item-bottom-link {
				float:left;
				margin-left:30px;
				color:#13b0cb;
				text-decoration: none;
				position:relative;
				font-size: 12px;
				.brd-dashed {
					border-bottom:1px dashed;
				}
				&:hover {
					text-decoration:none;
					.brd-dashed {
						border-bottom:none;
					}
				}
				&:first-child {
					margin-left: 0;
				}
				padding-left:36px;
				.icon {
					position:absolute;
					left:4px;
					top:0;
					&.icons-del {
						top: 2px;
						left: 10px;
					}
					&.icons-red {
						left:10px;
					}
				}
				.romb {
					font-style: normal;
					position: absolute;
					left: 0;
					top: -5px;
					@include icons-sprite(romb);
					width: 26px;
					height: 29px;
					font-weight: 700;
					color: #fff;
					text-align: center;
					line-height: 29px;
					font-size: 12px;
					font-style: normal;
				}
			}
			.right {
				.item-bottom-link  {
					margin-left: 10px;
				}
			}
		}
		.gray-bg {
			background: #e3e4e8;
			.small-avatar {
				float:left;
				width:40px;
				img {
					border-color:#fff;
				}
			}
		}
		.gray-bg + .content-section {
			border-top:none;
		}
	}
	.user-section-cutstom-bg {
		padding:8px 15px;
		margin:-8px -15px;
		background: #ecf9f6;
	}
}
.likes-container {
	font-family: bebas_neue_regularregular;
	.dislike {
		font-size: 18px;
		color:#f28585;
		@include transition(none);
		text-decoration: none;
		.icon {
			margin-left:5px;
			position: relative;
			top:5px;
		}
	}
	.separator {
		background: url(../img/separator-likes.png) no-repeat;
		width:9px;
		height:27px;
		display:inline-block;
		margin:0 5px;
		position: relative;
		top:5px;
	}
	.like {
		@include transition(none);
		text-decoration: none;
		color:#13b0cb;
			font-size: 18px;
		.icon {
			mamrgin-right:5px;
		}
	}

}
.item-answer {
	padding:15px 20px;
	.heading {
		margin-bottom:12px;
		.name-section {
			float:left;
			.small-avatar {
				float:left;
				img {
					width:40px;
					height:40px;
					border:2px solid #797f86;
					border-radius: 100px;
					display: block;
				}
			}
			.name {
				margin-left: 50px;
				color:#2c3e50;
				font-size: 18px;
				line-height: 40px;
			}
		}
		.title {
			float:right;
			color:#2c3e50;
			font-size: 24px;
			font-family: bebas_neue_regularregular;
			height:40px;
			line-height: 40px;
			position: relative;
			top:2px;
		}
	}
	.msg {
		textarea {
			width:100%;
			border-radius: 5px;
			border:2px solid #d2d2d2;
			background: #fff;
			padding:5px 10px;
			margin-bottom:10px;
			resize: none;
			height:100px;
		}
		input[type="submit"] {
			float:right;
		}
	}
}
.dislike:hover {
	color:#d96060;

	.icons-dislike {
		@include icons-sprite(dislike_hover);

	}
}
.like:hover {
	color:#2b9bb0;
	.icons-like {
		@include icons-sprite(like_hover);

	}
}