.small-avatar:hover {
	.user-info-popover {
		display: block;
	}
}
.user-info-popover {
	width:350px;
	border-radius: 8px;
	background: #f1f2f5;
	border:2px solid #fff;
	padding:10px 20px 15px;
	position: absolute;
	display: none;
	top:66px;
	left:-40px;
	z-index: 10;
	&:before {
		content:"";
		position:absolute;
		top:-30px;
		left:63px;
		border:15px solid;
		border-color: transparent transparent #fff transparent;
		z-index: 1;
	}
	&:after {
		content:"";
		position:absolute;
		top:-26px;
		left:65px;
		z-index: 2;
		border:13px solid;
		border-color: transparent transparent #f1f2f5 transparent;

	}
	> .heading {
		padding-bottom:15px;
		border-bottom:1px solid #c8c8ca;
		.mid-avatar {
			float:left;
			max-width: 70px;
			position: relative;
			top:5px;
			img {
				width:100%;
				max-width:100%;
				border:2px solid #797f86;
				border-radius: 150px;
				display: block;
			}
		}
		.user-info-about {
			margin-left: 90px;
			.name {
				font-weight: 600;
				color:#2c3e50;
				font-size: 18px;
				margin-bottom: 6px;
			}
			.about {
				font-size: 12px;
				color:#8e8d8d;
				line-height: 16px;
			}
			.open-profile {
				color:#0267b5;
				a {
					color:#0267b5;
					text-decoration: underline;
					&:hover {
						text-decoration: none;
					}
				}
			}

		}
	}
	.user-info-content {
		padding:10px 0;
		border-bottom:1px solid #c8c8ca;
		.answers, .good, .bad {
			float:left;
			width:33.3332%;
			text-align:center;
			padding:10px 10px 10px;
			min-height: 70px;
			color:#2c3e50;
			.heading {
				margin-bottom:15px;
				font-size: 12px;
				line-height: 14px;
			}
			.numbers {
				font-size: 30px;
				font-family: bebas_neue_regularregular;
			}
		}
		.good, .bad {
			border-left: 1px solid #c8c8ca;
		}
	}
	.user-info-raiting {
		padding:20px 30px 15px 30px;
		.user-raiting {
			float:left;
			margin-right: 40px;
		}
		.user-raiting-percents {
			color:#13b0cb;
			font-size: 24px;
			font-family: bebas_neuebold;
			line-height: 24px;
		}
	}
}